<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Components Basics</title>
</head>
<body>
    <div id="app">
        <button-counter></button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter>
        {{message}}

        <p v-text="message"></p>
        <p v-html="message"></p>
        <p v-text="title"></p>
        <p v-html="title"></p>
        <p class="show" v-if="isShow">show</p>
        <p class="show" v-show="isShow">show</p>


        <!--for -->
        <ul>
            <li v-for="(item, index) in arr" v-bind:data-num='index'>{{item}}</li>
        </ul>

        <!-- v-on 動作呼叫 click -->
        <p class="box" v-on:click="speak"></p>
        <p class="box" @click="speak"></p>

        <!-- img -->
        <img src="" v-bind:src='imgName'/>
        <img v-bind:src='imgName'/>
        <!-- <img src="images.jpg"/> -->

        <!-- v-bind: -->
        <!-- isActive is true add active -->
        <p class="view " v-bind:class="{active:isActive}" >
            {{message}}
        </p>
        <button @click="isActive = !isActive">  toggle class on click
        </button>
        <!---v-model 雙向 -->
        <input type="text" v-model="title" />
        <div class="test" @click="run">run</div>
        <div class="test" @click="speaks">speaks</div>
        <div class="test" @click="add">
           {{strfn}}
        </div>
    </div>
    
</body>
<style>
  .box{
      width: 100px;
      height: 100px;
      background-color: blue;


  }
  .view, .test{
      width: 300px;
      height: 30px;
      border: 1px solid gray;
      margin: 20px auto;
      line-height: 30px;
      text-align: center;
  }
  .active{
      background-color: red;
      color: white;
  }

</style>
<script>
    Vue.component('button-counter', {
    data: function () {
        return {
        count: 0
        }
    },
    template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
    })


    var vm = new Vue({
            el: '#app',
            data:{
                imgName:'images.jpg',
                message: 'Hello World!',
                title: 'test',
                isShow: false,
                isActive: true,
                num: 0,
                arr:['1.html','2.css','3.js'],
                speak: function(){

                        alert("hello");
                }
            },
            methods:{
                run: function(){
                    alert('run');
                },
                speaks: function(){
                    alert('speaks');
                },
                add: function(){

                   this.num++;
                   console.log(this.num);
                }

            },
            computed:{
                    strfn: function(){
                        if(this.num>=5){

                            return '天啊';
                        }else{

                            return '是是是';
                        }

                    }

            },
         
            watch:{

                num:function(newValue,oldValue){

                    console.log(newValue,oldValue);
                }


            }
        });
   
</script>
</html>